<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zw.co.dendebyte.first_app">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- TODO: Add your API key here -->
    <meta-data android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyBOjjRVB8_EOePWOdcjTVOAScW7dGSlLI0"/>
</manifest>
